<!DOCTYPE html>
<html>
    <head>
        <title>Chatty</title>
        <link rel="icon" type="image/jpg" href="{{url_for('static', filename='assets/chatIcon.jpg')}}">

        <meta charset="utf-8">
        <meta me="viewport"ontent="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

    </head>
    <body>
        <div class="loginForm text-center container">
            <form class="form-signin" method="POST" action="{{url_for('chat')}}">
                <h1>Welcome to Chatty!</h1>
                <h2>Please Sign In Below</h2>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="" autofocus="">
                <label for="chatRoomName" class="sr-only">Chat Room Name</label>
                <input type="text" id="chatRoomName" name="chatroom" class="form-control" placeholder="Chat Room Name" required="" >
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="submit">Join Room</button>
            </form>
        </div>
    </body>
</html>