<!DOCTYPE html>
<html>

    <head>
        {% if title %}
        <title>Chatty Room - {{ title }}</title>
        {% else %}
            <title>Chatty</title>
        {% endif %}
        <link rel="icon" type="image/jpg" href="{{url_for('static', filename='assets/chatIcon.jpg')}}">

        <meta charset="utf-8">
        <meta me="viewport"ontent="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <script src="//code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        
    </head>

    <body>
        <div class="indexForm container-fluid text-center">
            <h1>Welcome to</h1>
            <h1 style=" font-weight: bold;">chatty</h1>
            <br>
            <div class="row justify-content-center">
                <!-- Login column -->
                <div class="col col-6" id="login">
                    <h5>Have an account already?</h5>
                    <form method="POST" action="{{url_for('login')}}">
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control" name="username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"><b>Login</b></button>
                    </form>
                </div>

                <!-- Sign up column -->
                <div class="col col-6" id="signUp">
                    <h5>Sign up and start chatting!</h5>
                    <form method="POST" action="{{url_for('signup')}}">
                        <div class="form-row">
                            <div class="form-group col">
                                <input type="text" placeholder="First Name" class="form-control" name="fName" id="" required>
                            </div>
                            <div class="form-group col">
                                <input type="text" placeholder="Last Name" class="form-control" name="lName" id="" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Username" class="form-control" name="username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block"><b>Sign Up</b></button>
                    </form>
                </div>
            </div>
			{% if unique %}
			<div>Signup Success! Login now!</div>
			{% endif %}
			{% if notunique%}
			<div>Signup Failed! Username taken!</div>
			{% endif %}
			
			{% if verified %}
			<div>Login success!</div>
			{% endif %}
			{% if notverified %}
			<div>Login failed! Invalid username or password!</div>
			{% endif %}
        </div>
        
    </body>

</html>
