* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.indexForm {
    padding: 92px 0;
    background-color: #F0F2F5;
}
.indexForm #login {
    margin-right: 50px;
}
.indexForm #signUp {
    margin-left: 50px;
}
.indexForm #login, .indexForm #signUp {
    background-color: #FFFFFF;
    padding: 20px;
    max-width: 350px;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.indexForm #login form, .indexForm #signUp form {
    margin-top: 30px;
}